body, html {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  flex-shrink: 0;
}

nav, footer {
  background-color: #222222;
  color: #ffffff;
  padding: 1em;
}