/* Palette: acbdba-cddddd-a599b5-2e2f2f-051014 */

* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

main {
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

iframe {
  border: none;
  /* This - this is hackish, but it seems that without it the iframe flexbox
   * isn't working properly, making the iframe expand to take up more space
   * than what should be its alloted amount. #HACK
   */
  height: 100px;
}

main .editor, iframe {
  flex: 1 0;
  /* Same hack as before - min-width to avoid the iframe taking up more space
   * than what it should take, and min-height to avoid the editors being
   * completely and utterly squashed by the iframe when on mobile. #HACK
   */
  min-height: 100px;
  min-width: 192px;
}

main .editor {
  border-bottom: 1px solid grey;
}

@media screen and (min-width: 768px) {
  main {
    flex-direction: row;
  }
  iframe {
    /* A fix for my earlier hack for when the layout is horizontal. #HACK */
    height: auto;
  }
  main .editor {
    border-bottom: none;
    border-right: 1px solid grey;
  }
}

nav, footer {
  background-color: #2E2F2F;
  color: #ffffff;
  padding: 1em;
  min-height: 3em;
}

.brand {
  font-size: 1em;
  display: inline-block;
  margin: 0;
  padding-right: 1em;
}

nav button {
  color: #ffffff;
  background-color: #2E2F2F;
  border: none;
  border-bottom: 2px solid #CDDDDD;
  font-size: 1em;
  padding: 0;
}

nav button.unselected {
  border-color: #051014;
}

/* This is to fix a problem with the CodeFlask editor, with shadowed text
 * *and* an useless scrollbar appearing when overflowing the container.
 * The shadowed text appears to be wrapped, but it actually isn't, and it
 * overlaps with the real text. #CODEFLASK #FIX
 */
code[class*="language-"], pre[class*="language-"] {
  text-shadow: none;
  white-space: pre-wrap;
  word-wrap: break-word;
}